name: Gitleaks Scan
on: [push]

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Run Gitleaks Scan
      uses: zricethezav/gitleaks-action@v1.3.0
      with:
        args: "--redact --exit-code 1 --report-path=gitleaks-report.json"
    
    - name: Subir Report gitleaks
      if: failure()
      uses: actions/upload-artifact@v4
      with:
                name: gitleaks-report
                path: gitleaks-report.json
            