name: Build Python API

on: [push]

jobs:
  build-python:
    runs-on: ubuntu-latest

  
    steps:
    - name: Checkout 
      uses: actions/checkout@v4
    
    - name: Config
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Dependencies
      run: |
       cd src
       python -m pip install --upgrade pip
       pip install -r requirements.txt

    - name: Run Tests
      run: |
       pytest test.py -v --disable-warnings
       
